<div class="layout">
  <div class="content">
    <h1>Forecast App</h1>
    <div>
      <select name="city" id="city" (change)="cityChanges($event)">
        <option value="Jakarta">Jakarta</option>
        <option value="Bangkok">Bangkok</option>
        <option value="Singapore">Singapore</option>
      </select>
    </div>
    <table *ngIf="climate">
      <tr>
        <th>{{ climate.city }}</th>
        <th>Suhu</th>
        <th>Perbedaan</th>
      </tr>
      <tr *ngFor="let cf of climate.forecast_data">
        <td>{{ cf.date }}</td>
        <td>{{ cf.climate }} C</td>
        <td>{{ cf.diff }} C</td>
      </tr>
      <tr>
        <th>Rata-Rata</th>
        <th *ngIf="climate.climate_avg">{{ climate.climate_avg }} C</th>
        <th *ngIf="climate.diff_climate_avg">{{ climate.diff_climate_avg }} C</th>
      </tr>
    </table>
  </div>
</div>